/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/** css variables **/
:root {
  /** colors **/
  --primary-color: #00b9a6;
  --secondary-color: #80b5d5;
  --tertiary-color: #007b81;

  --text-color: #d9d9d9;

  --body-color: #1e1f20;
}
