body {
  background-color: #000;
}

.title {
  user-select: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  margin: 42px auto 0;
}

.range-slider {
  width: 480px;
  margin: 24px auto 0;
}

.range-slider__thumb,
.range-slider__range {
  background: var(--tertiary-color) !important;
}

.range-slider.margin-lg {
  margin: 42px auto 0;
}

/* Additional CSS */
@media (max-width: 768px) {
  .single-thumb {
    margin: 0 auto;
    width: 70%;
  }
}

/* Range Slider as a Single Thumb Slider */
.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.single-thumb .range-slider__range {
  border-radius: 6px;
}

/* Vertical Range Slider */
.vertical-slider[data-vertical] {
  height: 180px;
}
